@media (min-width: 800px) {
  .header__navresponsive {
    display: none; } }

@media (max-width: 800px) {
  .deskContainer {
    display: none; } }

.deskContainer {
  padding: 2em;
  justify-content: center;
  margin: 1em; }
  .deskContainer .deskContainer__navDesk {
    display: grid;
    justify-items: center; }
    .deskContainer .deskContainer__navDesk nav {
      max-width: 80%; }
      .deskContainer .deskContainer__navDesk nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        list-style: none; }
        .deskContainer .deskContainer__navDesk nav ul li {
          flex-direction: column;
          text-align: center; }
          .deskContainer .deskContainer__navDesk nav ul li a {
            text-decoration: none;
            color: #030303;
            font-weight: 500;
            font-size: large;
            padding: 30px;
            margin: 2em; }
          .deskContainer .deskContainer__navDesk nav ul li a:hover {
            color: #ebf0f2;
            background-color: #554cdb;
            padding: 30px;
            margin: 2em; }

.header__navresponsive {
  padding: 1%; }
  .header__navresponsive .navbar-brand {
    font-family: "Atkinson Hyperlegible", sans-serif; }
  .header__navresponsive .nav_style {
    background-color: #554cdb;
    padding: 2%;
    font-weight: 600; }

.banner {
  font-size: 2em;
  padding: 1em;
  background-image: linear-gradient(#554cdb, #ebf0f2);
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 700; }
  .banner a {
    color: black;
    padding: 1em;
    text-decoration: none; }
  .banner a:hover {
    color: #ebf0f2;
    background-color: #554cdb; }

main {
  padding: 1%; }
  main .homeArticulo1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .homeArticulo1 .homeArticulo1__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #554cdb;
      color: #030303;
      padding: 5% 2% 5% 2%; }
      main .homeArticulo1 .homeArticulo1__info h1 {
        font-size: 2em;
        color: #030303;
        animation-name: experienciaRegio;
        animation-duration: 5s;
        font-weight: 600;
        padding-bottom: 3%; }
        main .homeArticulo1 .homeArticulo1__info h1 p {
          color: #ebf0f2;
          font-weight: 400;
          width: 90%; }
    main .homeArticulo1 .homeArticulo1__img {
      padding: 2% 2% 5% 2%;
      justify-content: center;
      align-items: center;
      width: 80%; }
      main .homeArticulo1 .homeArticulo1__img img {
        width: 100%; }

section {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

section .homeArticulo2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

section .homeArticulo2 .homeArticulo2__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #554cdb;
  color: #030303;
  padding: 5% 2% 5% 2%; }

section .homeArticulo2 .homeArticulo2__info h2 {
  font-size: 2em;
  color: #030303;
  animation-name: experienciaRegio;
  animation-duration: 5s;
  font-weight: 600; }

section .homeArticulo2 .homeArticulo2__info p {
  padding-top: 3%;
  color: #ebf0f2;
  font-weight: 400;
  width: 90%; }

section .homeArticulo2 .homeArticulo2__carousel {
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 2%; }

section .homeArticulo2 .homeArticulo2__carousel .carousel-inner {
  width: 100%; }

@keyframes experienciaRegio {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contactos {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contactos .contactos__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #554cdb;
    width: 100%; }
    .contactos .contactos__box .contactos__box__datos1 {
      display: flex;
      flex-direction: column;
      padding: 1%;
      margin: 2%;
      justify-content: center;
      align-items: center;
      width: 70%;
      color: #030303;
      border: solid #030303 0.1em; }
    .contactos .contactos__box .contactos__box__datos2 {
      display: flex;
      flex-direction: column;
      padding: 1%;
      justify-content: center;
      align-items: center;
      margin: 2%;
      width: 70%;
      color: #030303;
      border: solid #030303 0.1em; }
    .contactos .contactos__box .contactos__box__ubicacion {
      display: flex;
      flex-direction: column;
      padding: 1%;
      margin: 2%;
      justify-content: center;
      align-items: center;
      width: 70%; }
    .contactos .contactos__box iframe {
      height: 90%;
      width: 90%; }

footer {
  text-align: center; }
