.contactos {
    display: flex;
    justify-content: center;
    align-items: center; 
    .contactos__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #554cdb;
        width: 100%;
        .contactos__box__datos1 {
            display: flex;
            flex-direction: column;
            padding: 1%;
            margin: 2%;
            justify-content: center;
            align-items: center;
            width: 70%; 
            color: black;
            border: solid black .1em;
        }
        .contactos__box__datos2 {
            display: flex;
            flex-direction: column;
            padding: 1%;
            justify-content: center;
            align-items: center;
            margin: 2%;
            width: 70%; 
            color: black;
            border: solid black .1em;
        }
        .contactos__box__ubicacion {
            display: flex;
            flex-direction: column;
            padding: 1%;
            margin: 2%;
            justify-content: center;
            align-items: center;
            width: 70%; }
        iframe {
            height: 90%;
            width: 90%; }
    }        
}

footer{
    text-align: center;
}