.deskContainer {
    padding: 2em;
    justify-content: center;
    margin: 1em;
    .deskContainer__navDesk {
        display: grid;
        justify-items: center;
        nav {
            max-width: 80%;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                justify-content: center;
                list-style: none;
                li {
                    flex-direction: column;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color:$black;
                        font-weight: 500;
                        font-size: large;
                        padding: 30px;
                        margin: 2em;
                    }
                    a:hover{
                        color:$white;
                        background-color:$blue;
                        padding: 30px;
                        margin: 2em;
                    }
                }
            }
        }
    }
}
.header__navresponsive {
    padding: 1%;
    .navbar-brand {
        font-family: "Atkinson Hyperlegible", sans-serif; }
    .nav_style {
        background-color: $blue;
        padding: 2%;
        font-weight: 600; }
}

.banner {
    font-size: 2em;
    padding: 1em;
    background-image: linear-gradient($blue, $white);
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 700; 
    a {
        color: black;
        padding: 1em;
        text-decoration: none; }
    a:hover {
        color: $white;
        background-color: $blue; }
}
